.sidebar-overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    transition: 0.1s ease-in-out;
    background: #0000008e;
    z-index: 4;
}
.sidebar-overlay.open{
    background: #00000000;
    pointer-events: none;
}
.sidebar-overlay.open > .sidebar{
    transform: translate(-100%);
}
.sidebar-overlay > .sidebar{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 300px;
    transform: translateX(0);
    box-shadow: 0 0 0.8rem #00000046;
    background: var(--background-primary);
    transition: 0.1s ease-in-out;
}
.sidebar-overlay > .sidebar > .top {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    gap: 10px;
}
.sidebar-overlay > .sidebar > .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--green);
    color: #fff;
}
.sidebar-overlay > .sidebar > .bottom > .left{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.sidebar-overlay > .sidebar > .bottom > .left > .nome{
    font-weight: 500;
    font-size: 1rem;
}
.sidebar-overlay > .sidebar > .bottom > .left > .role{
    font-weight: 500;
    font-size: 0.9rem;
}