.venda-unica{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 65px);
    border-top-left-radius: 5px;
}
.venda-unica > .abrir-caixa{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.venda-unica > .abrir-caixa > .button-abrir-caixa{
    display: flex;
    background: var(--green);
    width: 300px;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .1s ease-in-out;
    cursor: pointer;
}
.venda-unica > .abrir-caixa > .button-abrir-caixa:hover{
    opacity: 0.8;
}